.q-layout__shadow:after {
  box-shadow: none;
}

.q-dialog__backdrop {
  background: transparent;  
}

.q-body--fullscreen-mixin, .q-body--prevent-scroll {
  position: relative !important;
}

.q-btn__wrapper:before {
  box-shadow: none; 
}

.q-layout__section--marginal {
  background: none;
  background-color: none;  
}