.a-btn_add {
  background-color: transparent;
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.m-add-list {
  position: relative;  
}

.teste {
  position: relative;
  background-color: $bg-dark;
  margin-top: 50px;
  margin-right: 10px;
  max-width: 275px;
  width: 275px;
  height: 40px;
  color: $white;
}