.lists {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.o-list {
  max-width: 200px;
  margin-bottom: 25px; 
}
.item-list {
  max-width:15px; 
}
