.o-toolbar {
  background-color: $bg-dark;
  display: flex;
  justify-content: space-between;
}

.o-toolbar_board {
  background-color: transparent !important;
  background: transparent !importants;
}