.m-boards_content {
  display: flex;
  flex-direction: column;
  background: $grey-3;
  width: 300px;
  padding: 15px;
}

.m-borads_list {
  margin-top: 10px;

  .q-item--dense {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;  
  }
}

.m-borads_list-item {
  margin-bottom: 5px;
  background: $white;
  border-radius: 5px;
}

.m-borads_list-avatar {
  border-radius: 5px;
}

.btn-boards{
  box-shadow: none;
  background: transparent;
  background-color: transparent;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;  
}

.fixed-left {
  top: 30px;
}