.fixed-right {
  top: 30px;
}

.m-card-menu {
  background-color: $grey-3;
}

.m-card-menu_cnt {
  max-width: 335px;
  width: 100%;
}

.a-menu-tollbar {
  border-bottom: 1px solid black;
  border-radius: 0px;  
}

.a-menu-list-item {
  display: inline;
  width: 230px;
  font-size: 18px;
}